@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html{
    height: 100%;
    background-color: #EEF0F3;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

::placeholder{
    opacity: 0.6;
}

.login-button{
    button{
        cursor: pointer;
        width:50% !important;
        background-color: #00BB6B !important;
        border: none !important;
        border-radius: 10px !important;
        padding: 1rem;
    }
}

.number-stocks-input {
    width: 30% !important;
    margin-right: 1rem !important;
    border-radius: 10px !important;
}

.p-tabmenu .p-tabmenu-nav {
    justify-content: center;
    border-style: none !important;
}

.ng-star-inserted{
    text-align: initial;
}

p-dropdown{
    width: 100% !important;
}

.p-dropdown{
    width: 100% !important;
}

.p-card{
    box-shadow: none !important;
}

.content-container {

    .p-input-icon-left, .p-input-icon-right {
        width: 100% !important;
    }

    .p-input-icon-right > .p-inputtext {
        width: 100%!important;
    }
}

.p-inputgroup .p-inputtext, .p-fluid .p-inputgroup .p-inputtext{
    text-align: initial;
}

.login-main-container .p-card{
    box-sizing: border-box;
    box-shadow: none !important;
    width: 100% !important;
}

.p-invalid {
    color: red !important;
}

.global-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #ffffff;
    min-height: 100%;
    width: 100%;
    z-index: 1000000000;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}

button:hover {
    transform: scale(1.05);
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    border-color: #00BB6B !important;
    color: #00BB6B !important;
}

.tv-lightweight-charts {
    border-radius: 10px !important;
    width: 100%;
}

